/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #1e293b;
  --vt-c-black-soft: #334155;
  --vt-c-black-mute: #475569;

  --vt-c-snow: #e7f4ff;
  --vt-c-snow-soft: #cfe2f1;
  --vt-c-indigo: #16181f;

  --vt-c-gradient-light: radial-gradient(farthest-corner at 100% 100%, var(--vt-c-snow-soft), var(--vt-c-snow), var(--vt-c-snow-soft));
  --vt-c-gradient-dark: linear-gradient(105deg, var(--vt-c-black), var(--vt-c-indigo));

  --vt-c-divider-light-1: #3c3c3c4a;
  --vt-c-divider-light-2: #3c3c3c1f;
  --vt-c-divider-dark-1: #545454a6;
  --vt-c-divider-dark-2: #5454547a;

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: #3c3c3ca8;
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: #cbd5e1;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-gradient-light);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-gradient-dark);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-weight: normal;
}

body {
  background: var(--color-background);
  color: var(--color-text);
  transition: color 0.5s, background-color 0.5s;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  min-height: 100vh;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
