@import './base.css';

body::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background: var(--vt-c-black-mute);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--vt-c-black-soft);
}

#app {
  font-weight: normal;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 75%;
}

@media (max-width: 1900px) {
  #app {
    max-width: 85%;
  }
}

@media (max-width: 1600px) {
  #app {
    max-width: 95%;
  }
}
