/* @import './base.css'; */

body {
  background: rgb(23, 184, 206);
  background: linear-gradient(
    90deg,
    rgba(23, 184, 206, 1) -100%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 66%,
    rgba(23, 184, 206, 1) 200%
  );
}

#app {
  font-weight: normal;
  max-width: 1440px;
  padding: 2px 10px;
  margin: 0 auto;
}

::-webkit-scrollbar {
  display: none;
}
