backend bk_kibana
    mode http
    balance roundrobin
    option httpchk
    http-check send meth HEAD uri /kibana/api/status
    http-check expect status 200
    cookie ZLC_WUI_PERSIST insert indirect nocache

    #lv: acl src_trusted_proxies src ${TRUSTED_PROXIES_SRC}
    #lv: http-request set-header Authorization Basic\ ${KIBANA_AUTH_BASIC} if src_trusted_proxies
    #lv: http-request redirect location /logout if { path /kibana/logout } src_trusted_proxies

    default-server ssl ca-file /etc/logcenter/certs/ca.crt check inter 3000 rise 2 fall 1
    server ${KIBANA_SERVER_01_NAME} ${KIBANA_SERVER_01_ADDRESS} cookie s1
    server ${KIBANA_SERVER_02_NAME} ${KIBANA_SERVER_02_ADDRESS} cookie s2
