backend bk_kibana
    mode http
    balance roundrobin
    option httpchk
    http-check send meth HEAD uri /kibana/api/status
    http-check expect status 200
    cookie ZLC_WUI_PERSIST insert indirect nocache

    # We must let Kibana rewrite paths to be able to set a server.publicBaseUrl
    # ending with /kibana in kibana.yml
    #http-response replace-header location "^([^/:]*://[^/]+)?(/.*)" \1/kibana\2
    #http-request set-path "%[path,regsub(^/kibana,)]"

    #http-request set-header Authorization ApiKey\ ${KIBANA_AUTH_API_KEY}
    #http-request set-header Authorization Basic\ ${KIBANA_AUTH_BASIC}

    default-server ssl ca-file /etc/logcenter/certs/ca.crt check inter 3000 rise 2 fall 1
    server ${KIBANA_SERVER_01_NAME} ${KIBANA_SERVER_01_ADDRESS} cookie s1
    server ${KIBANA_SERVER_02_NAME} ${KIBANA_SERVER_02_ADDRESS} cookie s2
