frontend ft_wui
    mode http
    option httpslog
    option forwardfor except 127.0.0.0/8

    bind ${WUI_ADDRESS} ssl crt ${WUI_PEM}

    #acl src_trusted_proxies src ${TRUSTED_PROXIES_SRC}
    #acl src_monitoring src ${MONITORING_SRC}
    #acl has_remote_user hdr(remote-user) -m len gt 0
    #acl expected_client hdr(remote-groups,1) -m str ${EXPECTED_CLIENT_ID}
    #http-request return status 200 if src_trusted_proxies { path /check }
    #http-request return status 200 if src_monitoring { path /check }
    #http-request deny if !src_trusted_proxies !src_monitoring
    #http-request set-var(txn.pass) int(1) if src_monitoring { req.cook(testing) -m str 123 }
    #http-request deny if !has_remote_user !{ var(txn.pass) -m int 1 }
    #http-request deny if !expected_client !{ var(txn.pass) -m int 1 }

    http-request redirect location /archives/ if { path / }
    http-request redirect location /archives/ if { path /archives }
    http-request redirect location /kibana/ if { path /kibana }

    use_backend bk_archives if { path_beg /archives/ }
    use_backend bk_kibana if { path_beg /kibana/ }
