global
    log stdout format raw local2
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon

    ssl-default-bind-ciphers PROFILE=SYSTEM
    ssl-default-server-ciphers PROFILE=SYSTEM
    tune.ssl.default-dh-param 4096

    maxconn 4000
    hard-stop-after 120s

    stats socket /run/haproxy-admin.sock mode 600 level admin expose-fd listeners
    stats timeout 30s

defaults
    log global
    option dontlognull
    option redispatch
    retries 3
    timeout http-request 10s
    timeout queue 1m
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    timeout http-request 10s
    timeout http-keep-alive 10s
    timeout check 10s
    backlog 8192
    maxconn 3000
