[Unit]
Description=geoip endpoint
After=network.target

[Service]
Type=exec
Environment=PYTHONUNBUFFERED=1 BIND_HOST=127.0.0.1 BIND_PORT=8001 DOC_ROOT=/var/lib/geoip
EnvironmentFile=-/etc/sysconfig/geoip-endpoint
ExecStart=/bin/sh -c 'cd ${DOC_ROOT} && exec /usr/libexec/platform-python -m http.server --bind ${BIND_HOST} ${BIND_PORT}'
KillSignal=SIGINT
Restart=on-failure
SyslogIdentifier=geoip-endpoint
User=nobody

[Install]
WantedBy=multi-user.target
