[Unit]
Description=Signature daemon
After=network.target

[Service]
Type=exec
EnvironmentFile=-/etc/sysconfig/sigfiled
ExecStart=/opt/logcenter/bin/logcenter-env /opt/logcenter/bin/sigfiled -s -q
KillSignal=SIGINT
Restart=always

[Install]
WantedBy=multi-user.target
